<suite name = "SwagSuite">
<test name ="SwagLoginTest">
    <parameter name="username" value="standard_user"/>
    <parameter name="password" value="secret_sauce"/>
<classes>
    <class name = "tests.Login_Missing_credentials">
    </class>
    <class name = "tests.Login_Missing_Password">
    </class>
    <class name = "tests.Login_Failed">
    </class>
    <class name = "tests.Login_User_locked_out">
    </class>
    <class name = "tests.LoginTest">
    </class>
</classes>
</test>
</suite>